
.container_box {
  z-index: 2;
}

.board_container {
  width: 450px;
  height: 700px;
  background-color: #464650;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-y: overlay;
  overflow-x: hidden;



}

.board_container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.board_container::-webkit-scrollbar-thumb {
  background-color: #2B2B34;
  border-radius: 4px;
}

.board_container::-webkit-scrollbar-track {
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 4px;
}


.board_box_title {
  width: 450px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow-wrap: break-word;

}

.board_title {
  font-size: 18px;

}

.board_card_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.board_card_loading {}

